@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		
	}

}

@keyframes test{
	0%{

	}
	
	100%
	{
	
	padding: .5rem 1rem;
	transition: all 1s ease;
	}
}

* {
    box-sizing: border-box;
  }
  
  body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin:0;
    padding: 0;
    background-color: #f4f1de;
    font-family: 'Raleway', sans-serif;
  }
  
  header, footer {
    background: #3d405b;
    color: #eee;
    padding: 2rem;
    margin: 1rem;
    border-radius: 25px;
  }

  
  
  .intro {
    
      background:#6699CC;
    padding: 2rem;
    margin: 1rem;
    border-radius: 25px;
  }
  
  aside {
    background-color: #f2cc8f;
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
  }
  
  .projects {
    background-color: #f4a261;
    padding: 2rem;
    margin: 1rem;
    border-radius: 25px;
  }
  
  .labs {
    background-color: #81b29a;
    padding: 2rem;
    margin: 1rem;
    border-radius: 25px;
  }
  
  .projects li, .labs li {
    border: 3px solid green;
    margin: 10px;
    padding: 10px;
    width: 12rem;
    height:12rem;
    display: inline-block;
  }
  
   ol {
    list-style: none;
     padding: 0;
  }

  li{
    transition:  .5s ease-in;
  }

  li:hover{
    transition:  .5s ease-out;
	background-color: red;
	padding: .5rem 1rem;
  }
  

